$textFont: 'textFont', 'Roboto', Arial, serif;

@font-face {
  font-family: "textFont";
  src:         url('../assets/font/textFont.ttf');
}

@font-face {
  font-family: "Roboto";
  src:         url('../assets/font/Roboto-Regular.ttf');
}


body {
  margin:      0;
  overflow:    hidden;
  font-family: $textFont;
  color:       white;
}

.headerText {
  position:         absolute;
  top:              5rem;
  left:             50%;
  transform:        translate(-50%, 0);
  pointer-events:   none;
  font-size:        5rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding:          0 2rem;
  border-radius:    0.3rem;

  &#winHeading {
    display: none;
  }
}

.helpMessage {
  display:        none;
  position:       absolute;
  bottom:         5rem;
  left:           50%;
  transform:      translate(-50%, 0);
  pointer-events: none;
  font-size:      3rem;

  kbd {
    font-family:   $textFont;
    border:        2px solid white;
    border-radius: 0.3rem;
    display:       inline-block;
    padding:       0 0 0.3rem 0.4rem;
    width:         3rem;
    line-height:   3rem;
    text-align:    center;
  }
}
