<head>
 <title>Lite Knight</title>
 <script src="ext/js/jquery-3.3.1.min.js"></script>
 <script src="ext/js/phaser.min.js"></script>
 <script src="js/Utils.js"></script>
 <script src="js/Help.js"></script>
 <script src="js/Player.js"></script>
 <script src="js/World.js"></script>
 <script src="js/SoundEffect.js"></script>
 <script src="js/game.js"></script>
 <link rel="stylesheet" type="text/css" href="sass/style.css">
</head>
<body>

 <div class="headerText" id="introHeading">Lite Knight</div>
 <div class="headerText" id="winHeading">You win!</div>

 <div id="helpMessageLeftRight" class="helpMessage">
  <kbd>A</kbd> and <kbd>D</kbd> to move
 </div>

 <div id="helpMessageJump" class="helpMessage">
  <kbd>W</kbd> to jump
 </div>

 <div id="helpMessageDoubleJump" class="helpMessage">
  <kbd>W</kbd> again to double jump
 </div>

 <div id="helpMessageCrouch" class="helpMessage">
  Hold <kbd>A</kbd> and <kbd>D</kbd> to stick to walls
 </div>

 <div id="helpMessageCrouchWalk" class="helpMessage">
  <kbd>W</kbd> and <kbd>S</kbd> to walk on walls
 </div>

 <div id="helpMessageDied" class="helpMessage">
  You died :(
 </div>

 <div id="helpMessageWon" class="helpMessage">
  You freed your friends!
 </div>

 <div id="helpMessageFreeFriends" class="helpMessage">
  Escape and free your friends
 </div>

</body>
